
@font-face {
    font-family: "B Nazanin";
    src: url("https://db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.eot");
    src: url("https://db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.eot?#iefix") format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.ttf") format("truetype"),
        url("https://db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.svg#B Nazanin") format("svg");
}

body {
    font-family: B Nazanin , sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    direction: rtl; 
    text-align: right;
}

a {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #45a049;
}

h1 {
    color: #333366;
    margin-bottom: 0;
}

h2 {
    color: #09025d;
    margin: 0 0 10px 0;
}

ul, ol {
    margin: 10px 0 20px 20px;
    font-size: 21px;
    font-weight: 550;
}

li {
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: 550;
}

em {
    color: #9b59b6;
}

strong {
    color: #e74c3c;
}

p {
    direction: ltr;
    margin: 15px 0;
    line-height: 1.6;
    text-indent: 30px;
    color: #0e0c0c;
    font-size: 21px;
    font-weight: 550;
}
